.login-body {
    min-height: 100vh;
    background: url('/images/banklogin.png') center/cover no-repeat fixed;
    padding-top: 80px;
}

.login-box {
    width: 340px;
    padding: 28px;
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(15px);
    border-radius: 16px;
    border: 1px solid rgba(255,255,255,0.35);

}
.navbar {
    border-bottom: 3px solid;
    color: darkblue;
}