
body.register-body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('/images/banklogin.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.register-box {
    width: 300px;
    padding: 28px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    border-radius: 16px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.3);
    color: #fff;
}


.register-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}


.form-control {
    padding: 6px 10px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
}

    .form-control:focus {
        background: rgba(255, 255, 255, 0.25);
        border-color: rgba(255, 255, 255, 0.6);
        color: #fff;
    }


.form-floating > label {
    font-size: 0.75rem;

}

.form-floating {
    margin-bottom: 12px !important;
}


#registerSubmit {
    height: 38px;
    font-size: 0.85rem;
}


.register-box a {
    color: #b0e3ff;
    text-decoration: none;
}

.register-box a:hover {
    text-decoration: underline;
}
