@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "/Pages/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/login.css" />

<div class="login-body d-flex flex-column align-items-center">

    <partial name="_ManageNav" />

    <div class="login-box mt-4">
        <h3 class="text-center mb-4 fw-bold text-dark">Ändra Lösenord</h3>
        <partial name="_StatusMessage" for="StatusMessage" />

        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                <label asp-for="Input.OldPassword"></label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.NewPassword"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100">
                Uppdatera lösenord
            </button>
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
