@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;

    Layout = "/Pages/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/login.css" />

<div class="login-body d-flex flex-column align-items-center">

    <partial name="_ManageNav" />

    <div class="login-box mt-4">

        <h3 class="text-center mb-4 fw-bold text-dark">Personal Data</h3>

        <p>Your account contains personal data that you have provided to us. This page allows you to download or delete that data.</p>

        <p>
            <strong>Deleting this data will permanently remove your account and cannot be undone.</strong>
        </p>

        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="mb-3">
            <button class="btn btn-primary w-100" type="submit">Download</button>
        </form>

        <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger w-100">
            Delete
        </a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
