@page
@model RegisterModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Register</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/registration.css" />
</head>

<body class="register-body">

    <div class="register-box">

        <h3 class="text-center mb-4">Create Account</h3>

        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>

            <div class="form-floating mb-2">
                <input asp-for="Input.Email" class="form-control" placeholder="email" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-2">
                <input asp-for="Input.FirstName" class="form-control" placeholder="First name" />
                <label asp-for="Input.FirstName">First Name</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-2">
                <input asp-for="Input.LastName" class="form-control" placeholder="Last name" />
                <label asp-for="Input.LastName">Last Name</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-2">
                <input asp-for="Input.Password" class="form-control" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="confirm password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-sm btn-light fw-bold">
                Register
            </button>

            <hr class="border-light mt-3 mb-2" />

            <div class="text-center">
                <p style="font-size: 0.75rem;">
                    Already have an account?
                    <a asp-page="./Login">Log in</a>
                </p>
            </div>

        </form>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
